{% extends "base.html" %}
{% block content %}
<h2>班級/科系：{{department.depart}} <a href="{% url 'log_view_admission' department.admits.id %}">({{department.admits}})</a> </h2>
<h4>說明：{{department.ddesc|linebreaks}}</h4>
<br>
<h4>包含此班級/科系的學校有：</h4>
<table class="table table-sm table-hover">
  <thead>
    <tr>
      <th style="width: 90px;">班級/科系</th>
      <th>學校</th>
      <th>學校類型</th>
      <th>公私立</th>
    </tr>
  </thead>
  <tbody>
    {% for sc in department.schools.all %}
    <tr>
      <td>{{department.depart}}</td>
      <td><a href="{% url 'log_view_school' sc.id %}">{{ sc.name }}</a></td>
      <td>{{sc.get_type_display}}</td>
      <td>{{sc.get_pp_display}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}