{% extends "base.html" %}
{% load filter %}
{% block content %}
<h2>班級/科系：{{department.depart}} <a href="{% url 'log_view_admission' department.admits.id %}">({{department.admits}})</a> </h2>
{% if user.is_authenticated %}
<a href="{% url 'log_update_department' department.id %}" class="chan">編輯</a>
<a href="{% url 'log_delete_department' department.id %}" class="chan">刪除</a>
{% endif %}
<h4>說明：</h4>
<div class="disc"><p>{{department.ddesc|linebreaks}}</p></div>
<h4>包含此班級/科系的學校有：</h4>
<table class="table table-sm table-hover">
  <thead>
    <tr>
      <th style="width: 200px;">班級/科系</th>
      <th>學校</th>
      <th>學校類型</th>
      <th>公私立</th>
    </tr>
  </thead>
  <tbody>
    {% for sc in department.schools.all %}
    <tr>
      <td>{{department.depart}}({{department.admits}})</td>
      <td><a href="{% url 'log_view_school' sc.id %}">{{ sc.name }}</a></td>
      <td>{{sc.get_type_display}}</td>
      <td>{{sc.get_pp_display}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h4>參考連結：</h4>
{% if department.dlink1 %}
  {% if department.dlink1name %}
    <label>參考連結一：</label><a href="{{ department.dlink1 }}" target="_blank">{{ department.dlink1name }}</a><br>
  {% else %}
    <label>參考連結一：</label><a href="{{ department.dlink1 }}" target="_blank">{{ department.dlink1 }}</a><br>
  {% endif %}
  {% if department.dlink2 %}
    {% if department.dlink2name %}
    <label>參考連結二：</label><a href="{{ department.dlink2 }}" target="_blank">{{ department.dlink2name }}</a><br>
    {% else %}
      <label>參考連結二：</label><a href="{{ department.dlink2 }}" target="_blank">{{ department.dlink2 }}</a><br>
    {% endif %}
  {% endif %}
{% else %}
  <p>無</p>
{% endif %}

<h4>說明文件：</h4>
{% if department.dfile %}
<a href="{{ department.dfile|embed }}" target="_blank">{{ department.dfile|embed }}</a>
<iframe src="{{ department.dfile|embed }}/preview" frameborder="0" style="height: 900px; width: 100%"></iframe>
{% else %}
<p>無</p>
{% endif %}
{% endblock %}